
.body {
  /* background: url(./images/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg) no-repeat center center fixed; */
  background-color: #264653;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.container {
  width: 80%;
  margin: 50px;
}

#test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  text-decoration: none;
  color: #e76f51;
  font-size: 15px;
  background: none;
  border: none;
}

h1 {
  font-size: 7vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#to-top-button {
  border-radius: 5px;
  padding: 10px;
  margin: 2%;
  
}

#to-top-button:hover {
  background-color: #f4a261;
  color: white
}

/* .container {
  margin: 50px, 0;
} */

/* -----------------navbar section------------------ */
#nav-list-large {
  /* background-color: aquamarine; */
  position: fixed;
  left: 0;
  top: 10%;
  width: 10%;
  height: 25%;
}

#nav-list-large ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#nav-list-large button {
  /* margin: 1%, 5%; */
  border-radius: 5px;
  padding: 10px;
  margin-top: 20%;
}

#nav-list-large button:hover {
  background-color: #f4a261;
  color: white
}

#nav-list-small {
  display: flex;
  justify-content: center;
}

#nav-list-small ul {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 2%;
}
#nav-list-small a{
  border-radius: 5px;
  padding: 10px;
}

#nav-list-small a:hover {
  background-color: #f4a261;
  color: white
}





/* -----------------about section------------------ */
#about {
  background-color: #2a9d8f;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
}

/* .about div {
  background-color: wheat;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
} */

/* .about div:first-child {
  text-align: center;
  height: 25%;
}

.about div:nth-child(3) {
  text-align: center;
  height: 75%;
} */

#summary-large {
  display: flex;
  justify-content: end; 
  /* margin: 1%;
  padding: 1%; */
}

#summary-large div {
  width: 50%;
  background-color: #94d2bd;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
}

#summary-small {
  display: flex;
  justify-content: end;
}

#summary-small div {
  background-color: #94d2bd;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
}
/* -----------------Projects------------------ */

.projects {
  background-color: #2a9d8f;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  margin: 1%;
  text-align: center;
}

.projects h1 {
  padding-top: 10px;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#project-container div {
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: brown;
}

.project-list-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.project-list-card h1 {
  font-size: 4vw;
}

.projects img {
  width: 90%;
}

#project-list-large {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#project-list-large a {
  width: 40%;
  text-align: center;
  color: black;
  background-color: #f4a261;
  /* border-style: solid;
  border-color: black;
  border-width: 1px; */
  margin: 2%;
}

#project-list-large a:hover {
  transform: translate(5px, -5px);
}
#project-list-small {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project-list-small a {
  width: 80%;
  color: black;
  /* text-align: center;
  border-style: solid;
  border-color: black; */
  border-width: 1px;
  margin: 2%;

}

#project-list-small a:hover {
  transform: translate(5px, -5px);
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#small-frame {
  width: 70%;
  height: 100%;
}

#large-frame {
  max-width: 640px;
  width: 70%;
}

/* -----------------Prof Experience------------------ */

.prof-exp {
  background-color: beige;
}

/* -----------------Education------------------ */

#education {
  background-color: cornflowerblue;
  border-radius: 5px;
  margin: 1%;
}

/* -----------------Links------------------ */

/* #links-large {
  background-color: #2a9d8f;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  margin: 1%;
  text-align: center;
  width: 50%;
} */

/* #links-small {
  background-color: #2a9d8f;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  margin: 1%;
  text-align: center;
} */

#link-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prof-links {
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  margin: 2%;
  width: 100%;
}

#prof-links a {
  padding: 5px;
  margin: 1%;
}

#linked-in-logo {
  width: 32px;
}

#contact-form {
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  width: 80%
}

#content {
  resize: none;
}

.form-input {
  height: 25px;
  width:100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

#submit-button {
  width: 80px;
  margin-top: 10px;
  /* background-color: blue; */
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#submit-button:hover {
  background-color: #f4a261;
  color: white;
}

textarea {
  border-radius: 5px;
  width: 100%;
}

#email {
  color: #ca6702;
  font-size: 3vw;
}