
.body {
  background: url(./images/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-section {
  width: 80%;
  margin: auto;
}

/* -----------------navbar section------------------ */
.nav {
  position: fixed;
  bottom: 50%;
  right: 2%;
  max-width: 150px;
  width: 15%;
  height: 40%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
  border-radius: 5px;
}

/* .nav div {
  display: flex;
  align-items: center;
} */

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100%;
  justify-content: space-evenly;
}

.nav ul * {
  background-color: thistle;
  border-radius: 5px;
  padding: 10% 4%;
}

/* .nav img {
  width: 50%;
} */

/* -----------------about section------------------ */
.about {
  background: none;
  margin: auto;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.about div {
  background-color: wheat;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
}

.about div:first-child {
  text-align: center;
  height: 25%;
}

.about div:nth-child(3) {
  text-align: center;
  height: 75%;
}

.about img {
  box-shadow: 7px 7px 15px black;
  border-radius: 5px;
  width: 100%;
  margin: 1%;
}

/* -----------------Projects------------------ */

.projects {
  clear: both;
  background-color: cadetblue;
  width: 80%;
}














.p-experience {
  background-color: coral;
}

.education {
  background-color: cornflowerblue;
}

.links {
  background-color: darkkhaki;
}