
.body {
  background: url(./images/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-section {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: x-large;
}

ul {
  padding: 0;
  margin: 0;
}

/* -----------------navbar section------------------ */
#nav-list-large {
  /* background-color: aquamarine; */
  position: fixed;
  top: 10%;
  width: 10%;
  height: 25%;
}

#nav-list-large ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#nav-list-large a {
  /* margin: 1%, 5%; */
  border-radius: 5px;
  padding: 10px;
  margin-top: 20%;
}

#nav-list-large a:hover {
  background-color: brown;
  color: white
}

#nav-list-small {
  display: flex;
  justify-content: center;
}

#nav-list-small ul {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 2%;
}
#nav-list-small a{
  border-radius: 5px;
  padding: 10px;
}

#nav-list-small a:hover {
  background-color: brown;
  color: white
}





/* -----------------about section------------------ */
.about {
  background: none;
  margin: auto;
  margin-top: 10%;
  /* display: grid;
  grid-template-columns: 50% 50%; */
}

.about div {
  background-color: wheat;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
}

.about div:first-child {
  text-align: center;
  height: 25%;
}

.about div:nth-child(3) {
  text-align: center;
  height: 75%;
}

.about img {
  box-shadow: 7px 7px 15px black;
  border-radius: 5px;
  width: 50%;
  margin: 1%;
}

.nav-stage img {
  width: 25%;
}

/* -----------------Projects------------------ */

.projects {
  background-color: cadetblue;
  border-radius: 5px;
  margin: 1%;
  text-align: center;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#project-container div {
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: brown;
}

.projects img {
  width: 90%;
}

#project-list-large {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#project-list-large a {
  width: 40%;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 2%;
}

#project-list-large a:hover {
  transform: translate(5px, -5px);
}
#project-list-small {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project-list-small a {
  width: 80%;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 2%;

}

#project-list-small a:hover {
  transform: translate(5px, -5px);
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#small-frame {
  width: 70%;
  height: 100%;
}

#large-frame {
  max-width: 640px;
  width: 70%;
}

/* -----------------Prof Experience------------------ */

.prof-exp {
  background-color: beige;
}

/* -----------------Education------------------ */

#education {
  background-color: cornflowerblue;
  border-radius: 5px;
  margin: 1%;
}

/* -----------------Links------------------ */

#links {
  background-color: darkkhaki;
  border-radius: 5px;
  margin: 1%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prof-links {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: flex;
  flex-direction: column;
}

#contact {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}